{% load static %}
<!-- Footer Section -->

<!-- <div class="container-fluid">
<div class="row mt-5">
  <div class="col-md-4 mt-5">
<h2>About Us</h2>
<hr>
  </div>
  <div class="col-md-4 mt-5">
<h2>Contact Us</h2>
<hr>
  </div>
  <div class="col-md-4 mt-5">
<h2>Quick Links</h2>
<hr>
  </div>
</div>
</div> -->




<script src="{% static 'assets/js/min.js' %}"></script>
<script src="{% static 'assets/js/boots.js' %}"></script>
<script src="{% static 'assets/js/popper.js' %}"></script>

</body>

</html>